.sudoku-party {
  font-size: 2em;
}

.board {
  text-align: center;
  cursor: pointer;

  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
}

.row {
  display: flex;
}

.col {
  border: 1px solid #d9d9d9;
  width: 1.1em;
  height: 1.1em;
}


.col:nth-child(3n) {
  border-right: 1px solid black;
}

.row:nth-child(3n + 1) {
  border-top: 1px solid black;
}

.row:last-child {
  border-bottom: 1px solid black;
}

.current {
  background-color: rgb(187, 231, 255);
}
.current-select, button {
  margin-top: 1em;
  font-size: 0.8em;
}
.current-select > div {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #d9d9d9;
  text-align: center;
}